lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

myLab/
myLab/*
node_modules
node_modules/*
node_modules/

scripts/dynamicAddaps/v2/visualImgs/*
scripts/dynamicAddaps/v2/visualImgs
scripts/dynamicAddaps/v2/visualImgs/

*.env
